

/**
 icon font
 **/
@font-face {
  font-family: Moonicons;
  font-style: normal;
  font-weight: normal;

  src: url("./fonts/icomoon.eot");
  src: url("./fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("./fonts/icomoon.woff") format("woff"), url("./fonts/icomoon.ttf") format("truetype"), url("./fonts/icomoon.svg#svgFontName") format("svg");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src:  url("./fonts/Roboto-Regular.ttf") format("truetype");
}

.ourIcon(@content){
  font-family: Moonicons;
  &:before {
    content: @content;
  }
}


.icon-stats-bars2 {
  .ourIcon("\e99d");
}
.icon-cog {
  .ourIcon("\e994");
}
.icon-arrow-left2{
  .ourIcon("\ea40");
}
.icon-checkmark {
  .ourIcon("\ea10");
}
.icon-zoom-in{
  .ourIcon("\e987");
}
.icon-zoom-out{
  .ourIcon("\e988");
}
