@import '../css/base';

.chartListInner{
  margin: 1 * $unit;
}

.chartListItems{
  vertical-align: middle !important;
}

.bottomPanel{
  position: absolute;
  left:0;
  right:0;
  bottom: 0;
  overflow: hidden;
}